@import '../../styles/settings.scss';

.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
    background-color: $color-nav;
}

.sites {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.siteLink {
    color: $color-light;
    text-decoration: none;
} 

.linkActive {
    color: $color-warning;
    text-decoration: none;
}

.icon {
    font-size: 24px;
}